#header {
  position: relative;
  background: url('../../assets/petsback.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}
.app__header img {
  width: 15%;
  padding: 2rem 0rem 1rem 0;
  margin: -18px;
}
