.services-section {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #629bb6;
  padding: 4.5rem;
}

.content-section {
  color: #ffff;
  width: 50%;
  margin: 0.5rem 2rem;
  padding-left: 1rem;
  text-align: start;
}
.content-section h2 {
  text-transform: uppercase;
}
.content-section p,
h2 {
  margin: 10px;
}

.image {
  width: 50%;
}

.image img {
  width: 400px;
  align-items: flex-start;
}
