.section-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 10%;
    height: 100%;
  }
  
  #products {
    background: #edab11;
    padding-bottom: 30px;
  }
  
  .section-title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 50px;
  }
  
  .section-content {
    margin: 20px 10%;
  }
  
  .product-card {
    padding: 1em;
    background-color: transparent;
  }
  
  .product-img {
    background-color: #fff;
    border-radius: 10px;
  }
  
  .product-img img {
    width: fit-content;
    height: 200px;
  }
  
  p {
    padding: 5px;
  }
  
  .section-products button {
    color: #fff;
    background-color: #629bb6;
    padding: 0 0.8em;
    height: 28px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 15px;
  }
  
  .footprint {
    width: 38px;
    margin: -10px;
    padding-right: 7px;
  }
  
  @media screen and (max-width: 650px) {
    .section-products {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }